.contactContainer{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    gap: 15px;
}

.person{
    margin: 5px;
    width: 183px;
}

.button{
    height: 40px;
    margin: auto 0;
    background-color: rgba(214, 205, 205, 0.712);
}