.form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.input{
    font-size: 18px;
}

.error{
    color: red;
}

.button{
    width: 150px;
    margin: 0 auto;
    background-color: rgba(214, 205, 205, 0.712);
}